{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Projet</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idprojet</th>
                <td>{{ entity.idProjet }}</td>
            </tr>
            <tr>
                <th>Nomprojet</th>
                <td>{{ entity.nomProjet }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ entity.resume }}</td>
            </tr>
            <tr>
                <th>Budjet</th>
                <td>{{ entity.budjet }}</td>
            </tr>
            <tr>
                <th>Argent</th>
                <td>{{ entity.argent }}</td>
            </tr>
            <tr>
                <th>Imagefile</th>
                <td>{{ entity.imageFile }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Fichierfile</th>
                <td>{{ entity.fichierFile }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ entity.fichier }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projet_edit', { 'id': entity.idProjet }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
