{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CategorieEvenement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idcategorieevenement</th>
                <td>{{ entity.idCategorieEvenement }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ entity.categorie }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('categorieevenement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('categorieevenement_edit', { 'id': entity.idCategorieEvenement }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
