    {# empty Twig template #}
    <h1>Projet list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idprojet</th>
                <th>Nomprojet</th>
                <th>Resume</th>
                <th>Image</th>
                <th>Budjet</th>
                <th>Fichier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('projet_show', { 'id': entity.idProjet }) }}">{{ entity.idProjet }}</a></td>
                <td>{{ entity.nomProjet }}</td>
                <td>{{ entity.resume }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.budjet }}</td>
                <td>{{ entity.fichier }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('projet_show', { 'id': entity.idProjet }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('projet_edit', { 'id': entity.idProjet }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}